/* Estilos generales para que se vea lindo el fondo */
body {
  background-color: #f8fafc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #334155;
  text-align: center;
  padding-top: 80px;
}

h1 {
  margin-bottom: 10px;
  color: #0f172a;
}
p {
  margin-bottom: 40px;
  color: #64748b;
}

/* 1. Configuración Base para los botones */
.btn {
  border: none;
  cursor: pointer;
  margin-left: 5px;
  transition: all 0.3s ease;
}

/* 2. Botón Primario */
.btn-primario {
  background: blue;
  border-radius: 5px;
  color: white;
}

.btn-primario:hover {
  background-color: rgb(46, 46, 159);
}

/* 3. Botón Outline (Secundario) */
.btn-outline {
  background-color: transparent;
  border: solid 2px green;
  color: green;
}

.btn-outline:hover {
  background-color: green;
  color: white;
}

/* 4. Botón Peligro */
.btn-peligro {
  background-color: red;
  color: white;
}

.btn-peligro:hover {
  box-shadow: 0 5px 10px rgba(239, 5, 5);
}
